/* {
  outline: 2px solid rgba(0, 0, 255, .3)
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Fonts */
@font-face {
  font-family: "SFFourche";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFFourche.ttf") format("truetype"); }
@font-face {
  font-family: "SFFourche";
  font-weight: bold;
  src: url("../fonts/SFFourcheBold.ttf") format("truetype"); }
@font-face {
  font-family: "SFFourche";
  font-weight: lighter;
  src: url("../fonts/SFFourcheCondensed.ttf") format("truetype"); }
@font-face {
  font-family: "SFFourcheSC";
  font-weight: normal;
  src: url("../fonts/SFFourcheSC.ttf") format("truetype"); }
@font-face {
  font-family: "SFFourcheSC";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/SFFourcheSCItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueThin.ttf") format("truetype");
  font-style: normal; }
/* Variables */
/* Mixins */
/* Estilos Generales */
body {
  font-family: "HelveticaNeue", Helvetica, "Arial Narrow", sans-serif;
  font-weight: lighter;
  color: #666;
  line-height: 1.5em; }

h2, h3, h4, h5, h6 {
  font-family: "SFFourche", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

hr {
  border: none;
  border-top: 1px solid #efefef;
  height: 0;
  width: 100%;
  margin: 0.5em 0 1em; }

/* HERO */
div.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-construccion-01.jpg") center;
  background-size: cover;
  display: table; }
  div.hero #menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    transition: all 0.25s ease-in;
    /* Menu sticky */ }
    div.hero #menu.fixed {
      position: fixed;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.99);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4); }
  div.hero .nav-container {
    width: 90%;
    margin: 0 auto;
    min-height: 50px !important; }
    div.hero .nav-container:after {
      content: "";
      display: table;
      clear: both; }
    div.hero .nav-container .menu-bars {
      display: none; }
    div.hero .nav-container .brand {
      float: left; }
      div.hero .nav-container .brand img {
        display: block;
        height: 45px;
        margin-top: 3px; }
    div.hero .nav-container ul {
      float: right; }
      div.hero .nav-container ul li {
        float: left; }
      div.hero .nav-container ul a {
        display: block;
        height: 50px;
        padding: 0.75em 1.25em;
        color: inherit;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 1px;
        transition: all 0.15s ease-in; }
        div.hero .nav-container ul a:hover {
          background-color: #78ccb7;
          color: #fafafa;
          text-shadow: 1px 0px 1px #333; }
        div.hero .nav-container ul a.active {
          background-color: #74CBB5;
          color: #fafafa;
          text-shadow: 1px 0px 1px #333; }
  div.hero > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.15); }
    div.hero > div img {
      width: 20%;
      min-width: 200px; }
    div.hero > div ul {
      position: absolute;
      width: 100%;
      bottom: 48px; }
    div.hero > div li {
      display: inline-block;
      width: 45px;
      height: 45px;
      border: 1px solid #fafafa;
      border-radius: 10px;
      transition: all 0.35s  ease-in; }
      div.hero > div li:nth-child(2) {
        margin: 0 25px; }
      div.hero > div li:hover {
        background-color: #fafafa;
        border-radius: 50%; }
        div.hero > div li:hover i {
          color: #333; }
      div.hero > div li i {
        width: 45px;
        height: 45px;
        font-size: 25px;
        line-height: 1.75em;
        color: #fafafa;
        transition: all 0.15s  ease-in-out; }

/* MAIN CONTAINER */
section > .container {
  width: 90%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px; }
  section > .container:after {
    content: "";
    display: table;
    clear: both; }
section h3, section h2 {
  font-size: 22px;
  margin-bottom: 1em; }

/* NOSOTROS */
#seccionNosotros:after {
  content: "";
  display: table;
  clear: both; }
#seccionNosotros .mision,
#seccionNosotros .vision,
#seccionNosotros .valores {
  width: 33.333%;
  float: left;
  padding: 0 65px;
  margin-top: 35px;
  text-align: center;
  font-size: 0.9em; }
  #seccionNosotros .mision i,
  #seccionNosotros .vision i,
  #seccionNosotros .valores i {
    font-size: 30px;
    text-shadow: 1px 1px 3px #efefef; }
  #seccionNosotros .mision h3,
  #seccionNosotros .vision h3,
  #seccionNosotros .valores h3 {
    text-transform: uppercase;
    margin: 0.5em 0;
    font-size: 24px; }

/* PROYECTOS */
#seccionProyectos {
  background-color: #f5f5f5; }

.galeria-proyectos:after {
  content: "";
  display: table;
  clear: both; }

.proyectos-electricos,
.proyectos-civiles {
  width: 50%;
  height: 100%;
  float: left; }
  .proyectos-electricos:after,
  .proyectos-civiles:after {
    content: "";
    display: table;
    clear: both; }
  .proyectos-electricos h3,
  .proyectos-civiles h3 {
    width: 45%;
    min-width: 210px;
    padding: 5px 0;
    margin: 25px auto;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 1px;
    color: #efefef;
    border-radius: 12px;
    background-color: #333; }
  .proyectos-electricos div[class*="item"],
  .proyectos-civiles div[class*="item"] {
    overflow: hidden;
    float: left;
    height: 340px;
    border: 1px solid white;
    position: relative; }
    .proyectos-electricos div[class*="item"] img,
    .proyectos-civiles div[class*="item"] img {
      display: block;
      height: 100%; }
    .proyectos-electricos div[class*="item"] .overlay,
    .proyectos-civiles div[class*="item"] .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      color: #fafafa;
      font-size: 0.9em;
      text-align: center;
      text-shadow: 1px 0px 1px #333;
      transition: all 0.35s ease-out; }
      .proyectos-electricos div[class*="item"] .overlay .content,
      .proyectos-civiles div[class*="item"] .overlay .content {
        position: absolute;
        bottom: 25px;
        width: 100%; }
      .proyectos-electricos div[class*="item"] .overlay h5,
      .proyectos-civiles div[class*="item"] .overlay h5 {
        font-size: 1.2em; }
      .proyectos-electricos div[class*="item"] .overlay:hover,
      .proyectos-civiles div[class*="item"] .overlay:hover {
        opacity: 1; }
  .proyectos-electricos .item-lg,
  .proyectos-civiles .item-lg {
    width: 100%; }
  .proyectos-electricos .item-md,
  .proyectos-civiles .item-md {
    width: 50%; }
  .proyectos-electricos .civil-01 img, .proyectos-electricos .civil-02 img, .proyectos-electricos .civil-03 img,
  .proyectos-civiles .civil-01 img,
  .proyectos-civiles .civil-02 img,
  .proyectos-civiles .civil-03 img {
    width: 100%; }

/* CONTACTO */
#seccionContacto {
  background-color: #3F6DA9;
  color: #fafafa; }
  #seccionContacto form {
    width: 50%;
    min-width: 550px;
    margin: 45px auto 0; }
    #seccionContacto form p {
      margin-bottom: 0.5em; }
      #seccionContacto form p:after {
        content: "";
        display: table;
        clear: both; }
    #seccionContacto form label, #seccionContacto form input, #seccionContacto form textarea {
      float: left; }
    #seccionContacto form label {
      width: 30%;
      text-transform: uppercase;
      text-align: right;
      height: 2em;
      padding-right: 30px;
      line-height: 2em;
      font-size: 0.8em; }
    #seccionContacto form input, #seccionContacto form textarea {
      width: 70%;
      border: 1px solid #eee;
      border-radius: 4px;
      padding: 0.5em 1em;
      font-size: 0.9em;
      font-family: inherit;
      box-shadow: inset 0px 0px 5px #ccc; }
    #seccionContacto form input {
      height: 36px; }
    #seccionContacto form input[type="submit"] {
      margin-left: 30%;
      background-color: #74CBB5;
      border: none;
      font-weight: bold;
      letter-spacing: 1px;
      color: #333;
      cursor: pointer; }

/* FOOTER */
footer {
  background: #333;
  color: #fafafa;
  font-size: 0.9em;
  padding-top: 45px;
  padding-bottom: 45px; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .footer-container {
    width: 90%;
    margin: 0 auto;
    font-size: 0.85em; }
    footer .footer-container h4 {
      margin-bottom: 0.4em;
      font-size: 1.1em; }
    footer .footer-container i {
      width: 20px; }
    footer .footer-container hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 0 0 24px 0;
      height: 0;
      width: 100%; }
    footer .footer-container > div {
      width: 33.333%;
      float: left;
      padding-right: 55px; }
      footer .footer-container > div:last-child {
        padding-right: 0; }
  footer .logo {
    width: 100% !important;
    padding-right: 0 !important; }
    footer .logo img {
      height: 35px; }
  footer .informacion i {
    margin-right: 5px; }
  footer .mensaje {
    text-align: center; }
  footer #map iframe {
    width: 100%;
    height: 250px; }

/* RESPONSIVE MEDIA QUERIES*/
/* For Tablet*/
@media screen and (max-width: 992px) {
  #seccionNosotros .mision,
  #seccionNosotros .vision,
  #seccionNosotros .valores {
    padding: 0 35px; } }
/* For small devices 768px*/
@media screen and (max-width: 768px) {
  #seccionNosotros .mision,
  #seccionNosotros .vision,
  #seccionNosotros .valores {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.8em; }
    #seccionNosotros .mision h3,
    #seccionNosotros .vision h3,
    #seccionNosotros .valores h3 {
      font-size: 20px; }
  #seccionNosotros .mision {
    margin-top: 0; }

  .proyectos-electricos,
  .proyectos-civiles {
    width: 90%;
    float: none;
    margin: auto; }
    .proyectos-electricos div[class*="item"],
    .proyectos-civiles div[class*="item"] {
      height: 250px; }

  .electr-03 img {
    width: 100%; }

  footer .footer-container > div {
    padding-right: 35px; } }
/* For Mobile  640px*/
@media screen and (max-width: 640px) {
  div.hero .nav-container {
    height: 50px; }
    div.hero .nav-container .menu-bars {
      display: block;
      float: right;
      width: 40px;
      height: 50px;
      text-align: right; }
      div.hero .nav-container .menu-bars i {
        font-size: 35px;
        line-height: 1.35; }
    div.hero .nav-container .brand img {
      height: 36px;
      margin-top: 5px; }
    div.hero .nav-container ul {
      position: fixed;
      width: 80%;
      height: calc(100%);
      right: 100%;
      margin: 0;
      top: 49px;
      background: #fff;
      overflow: scroll; }
      div.hero .nav-container ul li {
        width: 100%;
        border-bottom: 1px solid #efefef; }
        div.hero .nav-container ul li:first-child {
          border-top: 1px solid #efefef; }
      div.hero .nav-container ul a {
        padding-left: 30px; }

  .proyectos-electricos .item-md,
  .proyectos-civiles .item-md {
    width: 100%; }
    .proyectos-electricos .item-md img,
    .proyectos-civiles .item-md img {
      width: 100%; }

  #seccionContacto form {
    min-width: 400px;
    width: 90%; }
    #seccionContacto form label {
      font-size: 0.75em; }

  footer .footer-container > div {
    width: 90%;
    float: none;
    margin: 25px auto 0;
    padding-right: 0; } }
/* for small mobiles 480px*/
@media screen and (max-width: 480px) {
  .proyectos-civiles div[class*="item"],
  .proyectos-electricos div[class*="item"] {
    height: 200px; }

  #seccionContacto form {
    min-width: 0;
    margin-top: 22px; }
    #seccionContacto form label,
    #seccionContacto form input,
    #seccionContacto form textarea {
      width: 100%;
      float: none;
      text-align: left; }
    #seccionContacto form input[type="submit"] {
      margin-left: 0;
      text-align: center; } }
/**/

/*# sourceMappingURL=main.css.map */
